[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".config/zsh/plugins/zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".config/zsh/plugins/zsh-vi-mode"]
	path = .config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".config/zsh/plugins/zsh-tab-title"]
	path = .config/zsh/plugins/zsh-tab-title
	url = https://github.com/trystan2k/zsh-tab-title.git
[submodule ".config/nvim/pack/vendor/start/everforest"]
	path = .config/nvim/pack/vendor/start/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule ".config/nvim/pack/vendor/start/gitsigns.nvim"]
	path = .config/nvim/pack/vendor/start/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule ".config/nvim/pack/vendor/start/lualine.nvim"]
	path = .config/nvim/pack/vendor/start/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule ".config/nvim/pack/vendor/start/mini.bracketed"]
	path = .config/nvim/pack/vendor/start/mini.bracketed
	url = git@github.com:echasnovski/mini.bracketed.git
[submodule ".config/nvim/pack/vendor/start/mini.pairs"]
	path = .config/nvim/pack/vendor/start/mini.pairs
	url = git@github.com:echasnovski/mini.pairs.git
[submodule ".config/nvim/pack/vendor/start/mini.starter"]
	path = .config/nvim/pack/vendor/start/mini.starter
	url = git@github.com:echasnovski/mini.starter.git
[submodule ".config/nvim/pack/vendor/start/mini.surround"]
	path = .config/nvim/pack/vendor/start/mini.surround
	url = git@github.com:echasnovski/mini.surround.git
[submodule ".config/nvim/pack/vendor/start/nvim-treesitter"]
	path = .config/nvim/pack/vendor/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule ".config/nvim/pack/vendor/start/nvim-treesitter-context"]
	path = .config/nvim/pack/vendor/start/nvim-treesitter-context
	url = git@github.com:romgrk/nvim-treesitter-context.git
[submodule ".config/nvim/pack/vendor/start/nvim-treesitter-textobjects"]
	path = .config/nvim/pack/vendor/start/nvim-treesitter-textobjects
	url = git@github.com:nvim-treesitter/nvim-treesitter-textobjects.git
[submodule ".config/nvim/pack/vendor/start/nvim-web-devicons"]
	path = .config/nvim/pack/vendor/start/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons.git
[submodule ".config/nvim/pack/vendor/start/plenary.nvim"]
	path = .config/nvim/pack/vendor/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule ".config/nvim/pack/vendor/start/telescope-fzf-native.nvim"]
	path = .config/nvim/pack/vendor/start/telescope-fzf-native.nvim
	url = git@github.com:nvim-telescope/telescope-fzf-native.nvim.git
[submodule ".config/nvim/pack/vendor/start/telescope-live-grep-args.nvim"]
	path = .config/nvim/pack/vendor/start/telescope-live-grep-args.nvim
	url = git@github.com:nvim-telescope/telescope-live-grep-args.nvim.git
[submodule ".config/nvim/pack/vendor/start/telescope.nvim"]
	path = .config/nvim/pack/vendor/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule ".config/nvim/pack/vendor/start/vim-addon-local-vimrc"]
	path = .config/nvim/pack/vendor/start/vim-addon-local-vimrc
	url = git@github.com:MarcWeber/vim-addon-local-vimrc.git
[submodule ".config/nvim/pack/vendor/start/vim-fugitive"]
	path = .config/nvim/pack/vendor/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".config/nvim/pack/vendor/start/vim-illuminate"]
	path = .config/nvim/pack/vendor/start/vim-illuminate
	url = git@github.com:RRethy/vim-illuminate.git
[submodule ".config/nvim/pack/vendor/start/vim-rhubarb"]
	path = .config/nvim/pack/vendor/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".config/nvim/pack/vendor/start/vim-test"]
	path = .config/nvim/pack/vendor/start/vim-test
	url = git@github.com:vim-test/vim-test.git
[submodule ".config/zsh/plugins/fzf-tab"]
	path = .config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
