[include]
	path = ~/Development/config_files/square/gitconfig

[user]
	name = Trey Wood
	email = treyw@squareup.com

[diff]
  tool = difftastic
  external = difft
	renames = true
	indentHeuristic = on
	algorithm = histogram

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[core]
	pager = delta
	editor = nvim
	fsmonitor = true
	untrackedCache = true
	commitGraph = true

[init]
	defaultBranch = main

[push]
	default = simple
	autosetupremote = true
	followTags = true

[pull]
	rebase = true

[fetch]
	prune = true
	writeCommitGraph = true

[gc]
	writeCommitGraph = true

[branch]
	autosetupmerge = true

[merge]
	summary = true
	conflictstyle = zdiff3

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = 1

[status]
	showUntrackedFiles = normal

[log]
	mailmap = true

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[commit]
	gpgsign = false

[gpg]
	program = gpg

[index]
	skipHash = false

[feature]
	manyFiles = true

[delta]
	plus-style = syntax "#012800"
	minus-style = normal "#340001"
	syntax-theme = Monokai Extended

[interactive]
	diffFilter = difft

[alias]
	st = status
	br = branch
	f = fetch
	cma = commit -a -m
	co = checkout
	up = !git pull --rebase --autostash && git submodule update --init --recursive
	l = "log -i -n 10 --format='%C(auto) %>(12,trunc)%aL | %h %s' --abbrev-commit --no-merges"
