nvim/lua/lsp_servers.lua
nvim/lua/null_ls_sources.lua
nvim/lua/plugins/
!nvim/lua/plugins/init.lua
!nvim/lua/plugins/nvim-cmp.lua
!nvim/lua/plugins/everforest.lua
!nvim/lua/plugins/lsp.lua
!nvim/lua/plugins/treesitter.lua
!nvim/lua/plugins/telescope.lua
nvim/plugin/

kitty/*.session
