[user]
	name = Trey Wood
	email = treyw@squareup.com

[core]
	pager = delta
	editor = nvim
	fsmonitor = true
	untrackedCache = true

[push]
	default = simple
	autosetupremote = true

[pull]
	rebase = true

[branch]
	autosetupmerge = true

[merge]
	summary = true
	conflictstyle = zdiff3

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = 1

[diff]
	renames = true
	indentHeuristic = on

[status]
	showUntrackedFiles = normal

[log]
	mailmap = true

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[commit]
	gpgsign = false

[gpg]
	program = gpg

[index]
	skipHash = false

[feature]
	manyFiles = true

[delta]
	plus-style = syntax "#012800"
	minus-style = normal "#340001"
	syntax-theme = Monokai Extended

[interactive]
	diffFilter = delta --color-only

[alias]
	st = status
	br = branch
	f = fetch
	cma = commit -a -m
	co = checkout
	up = !git pull --rebase --autostash && git submodule init && git submodule update
	l = "log -i -n 10 --format='%C(auto) %>(12,trunc)%aL | %h %s' --abbrev-commit --no-merges"
